{% extends "baseline.html"%}
{% block header %}
    <h1>Cars</h1>
{% endblock %}
{% block content %}

<table class="table">
    <thead>
         <th>id</th>  
         <th>make</th>   
         <th>model</th>
         <th>year</th>   
         <th>color</th>
         <th>mileage in km</th>
         <th>price in CAD$</th>
    </thead>
    <tbody>
        {% for cars in cars %}
        <form action="/cars/{{cars.id}}/delete" method="post">
        <tr>
            <td> {{ cars.id }}</td>
            <td> {{ cars.make }}</td>
            <td> {{ cars.model }}</td>
            <td> {{ cars.year }}</td>
            <td> {{ cars.color }}</td>
            <td> {{ cars.mileage }}</td>
            <td> {{ cars.price }}</td>
            <td>
            <a href="/cars/{{cars.id}}" class="btn btn-success btn-md">
                <span class="glyphicon glyphicon-pencil"></span> Edit 
                </a> 
                <button type="submit" name="delete" value="{{cars.id}}" class="btn btn-danger btn-md">Delete</button>
            </td>            
        </tr>
        </form>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
